{src_dirs, ["src","scripts"]}.
{lib_dirs, [ ".."
           , "deps"
           ]}.
{erl_opts, [debug_info]}.
{deps, [
         {'jiffy',"", {git, "git://github.com/davisp/jiffy.git", {branch, master}}}
%       , {'jesse',"", {git, "git://github.com/for-GET/jesse.git", {branch, master}}}
    ]}.
{shell, [
  % {config, "config/sys.config"},
    {apps, [fhir]}
]}.
